.appContainer {
    height: 100vh;

    display: flex;
    flex-direction: column;

    overscroll-behavior: none;
}

.appContainerPageContent {
    flex-grow: 1;
    display: flex;

    flex-direction: column;
    align-items: stretch;
}
