.header {
  padding-top: var(--mantine-spacing-sm);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), transparent);
  position: sticky;
  top: 0;
  z-index: 10;
}

.devBanner {
  position: fixed;
  top: 5px;
  left: 5px;
}

.mainSection {
  padding-bottom: var(--mantine-spacing-sm);
}

.tabsList {
  &::before {
    display: none;
  }
}

.tab {
  font-weight: 600;
  height: rem(38);
  background-color: transparent;
  position: relative;
  bottom: -1px;

  &::before,
  &::after {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-7)
    ) !important;
  }

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-5)
    );
  }

  &[data-active] {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-7)
    );
    border-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-7)
    );
    border-bottom-color: transparent;
  }
}
